<div id="main" class="container-fluid text-center">
    <div id="introduction">
        <h1>Whitecaps Data Analysis</h1>
        <div class="typewriter">
            <h1>Let's Get Started</h1>
            <br>
            <br>
        </div>
        <button type="button" id="hide" class="btn">Click Here</button>
    </div>
    <div id="data" style="display: none;">
        show chart here (working on it)
    </div>
</div>