<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>Plot depicting x,y coordinate of all players in LAGalaxy that passed the ball without NotCompleted or lose and pass is greater than 10mts</p>

<div class="ct-chart ct-perfect-fourth"></div>

<!-- All the chartist data and functions can be put in the file below.
 We'll manipulate the json files from here -->
<script src="/javascripts/chartist_data_functions.js"></script>

<div id="main" class="container-fluid text-center">
    <div id="introduction">
        <h1>Whitecaps Data Analysis</h1>
        <div class="typewriter">
            <h1>Let's Get Started</h1>
            <br>
            <br>
        </div>
        <button type="button" id="hide" class="btn">Click Here</button>
    </div>
    <div id="data" style="display: none;">
        show chart here (working on it)
    </div>
</div>